<!DOCTYPE html>
{% extends 'blog/base.html'%}
  {% block title_block%}{{post.title}}{% endblock %}
  {%block content%}
  <h1>{{post.title}}</h1>
<p id="date">Published On {{post.publish}} by {{post.author|title}}</p>
{{post.body|linebreaks}}<br><br>
<div class="container" align='center'>
<a href="/{{post.id}}/share" class="btn btn-danger btn-lg" target="__blank">Share Post By Email</a></div>
{% with comments.count as comments_count %}
<h3>{{comments_count}} Comment{{comments_count|pluralize}}</h3>
{% endwith %}
{% if comments %}
{% for comment in comments %}
<p id='ch'>Comment {{forloop.counter}} by- {{comment.name}}</p> on <div class="">{{comment.created}}</div>
<div class="cb">{{comment.body|linebreaks}}</div>
{% endfor %}
{% else %}
<p>There are no comments yet!!!</p>
{% endif %}
{% if csubmit %}
<h2>Your Comment Added Successfully</h2>
{% else %}
<form method="post">
  {{form.as_p}}
  {%csrf_token%}
  <input type="submit" class="btn btn-danger" value="Submit Comment">
</form>
{% endif %}

  {% endblock %}
